body{
    background-size: cover;
}
.boom{
    background-color: yellow;
    width: 20%;
}
.heading{
    color: black;
}
h1{
    font-weight: bolder;
font-family: 'Inconsolata', monospace;
font-family: 'Orbitron', sans-serif;
}
#page2{
    background: aqua;
}
#page3{
    background: #CBF3F0;
}
#page4{
    background: #EF476F;
}
#page5{
    background: #03071E;
    color: whitesmoke;
}
#page6{
    background: #6A040F;
    color: yellow;
}